
.main_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(180deg, #ffffff, transparent), url(../img/ulgtu.jpg);
    max-height: 824px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.btn {
    padding: 0px 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
    cursor: pointer;
    font-weight: 300;
}

.btn-default {
    background-color: #0151f3;
}

.bold {
    font-weight: 600;
}

.container-limitation {
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.menu__list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footer .menu__list {
    margin-top: 20px;
}
.footer .menu-item__link {
    color: white;
    font-size: 18px;
}
.menu-item__link {
    color: black;
}

.menu-item__link:hover {
    color: #0151f3;
}
.logo__link,
.menu-item__link {
    font-size: 24px;
}
.preview-block {
    max-height: 824px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #ffffff, transparent), url(../img/ulgtu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.preview-block__content {
    text-align: center;
}

.page-title {
    max-width: 800px;
    font-size: 72px;
    font-weight: 300;
    margin-bottom: 25px;
}

.about-block {
    background-color: #0151f3;
    color: white;
    padding: 48px 0;
}

.about__title {
    font-weight: 600;
    margin-bottom: 48px;
    font-size: 24px;
    min-height: 33px;
}
.about__text {
    font-size: 36px;
    font-weight: 300;
    min-height: 100px;
}

.actions__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}
.action__item {
    max-width: 28%;
}

.action-item__content {
    margin-top: 12px;
}
.action-item__title {
    font-size: 18px;
}
.action-item__title,
.action-item__text {
    margin-bottom: 16px;
    text-decoration: none;
}
.search-block,
.subcribe-block {
    text-align: center;
    margin-bottom: 40px;
}
.search-block-title {
    margin-top: 20px;
    margin-bottom: 30px;
}
.form-input,
.form-button {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 20px;
}
.form-button {
    background-color: #0151f3;
    color: white;
}

.footer__text {
    padding: 48px 0;
    background-color: #323232;
    max-height: 150px;
    height: 100vh;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 1.3;
}

.actions-block-title{
    text-align: center;
    margin-bottom: 30px;
}

.action-item__link{
    color:black;
    text-decoration: none;
}

.action__item{
    text-decoration: none;
    list-style-type: none;
}

.logo__img{
    height: 100px;
    width: 100px;
    margin-top: 20px;
}